# dependencies
**/node_modules
.pnpm-store

# build outputs
**/dist
**/build
**/.next
**/.turbo

# test coverage
**/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log* 